
 <div class="container my-5">
     <h1 class="mb-3">Room</h1>
     <table class="table" *ngIf="rooms && rooms.length >0">
        <thead> 
            <tr>
            <th>Room_Id</th>
             <th>Room_Rate</th>
              <th>Room_Status</th>
            </tr>
        </thead> 
        <tbody><tr *ngFor="let r of rooms">
            <td>{{r.Room_Id}}</td>
             <td>{{r.Room_Rate}}</td>
             <td>{{r.Room_Status}}</td>
             <!-- <td><a [routerLink]="['/room',r.room_id]">View</a></td> -->
            </tr>
         </tbody>
        </table>
        <p>{{msg}}</p>
        
    </div>