<nav class="navbar bg-light">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button">Add_Guest</button>
      <button class="btn btn-outline-success me-2" type="button">Guest_List</button>
      <button class="btn btn-outline-success me-2" type="button">Add_Reservation</button>
      <button class="btn btn-outline-success me-2" type="button">Reservation_List</button>
      <button class="btn btn-outline-success me-2" type="button">Room_List</button> 
    </form>
  </nav>